html
  head
    title= `${profile} alerts`
    script(type="text/javascript" src="/vendor/socket.io.js")
    script(type="text/javascript" src=`/profiles/${profile}.js`)
    link(rel="stylesheet" href="/styles/global.css")
    link(rel="stylesheet" href=`/styles/${profile}.css`)
  body
    #notification
    
    
