#notification {
  overflow: hidden;
  width: 800px;
  height: 400px;
  margin: auto;
  font-family: 'Bungee', sans-serif;
  color: #673AB7;
  font-size: 72px;
  line-height: 1.5;
}

.purple-text-name {
  color: #673AB7;
  font-size: 52px;
}

.purple-text-wrapper {
  position: relative;
  text-align: center;
}

.discord-orb {
  width: 100px;
  height: 100px;
  background-color: rgba(103, 58, 183, 0.25);
  border: 1px solid #673AB7;
  border-radius: 50px;
  animation-name: discordOrb;
  animation-duration: 1.1s;
  animation-timing-function: linear;
  position: absolute;
  z-index: 3;
  opacity: 0.0;
}

.discord-inner {
  width: 50px;
  height: 50px;
  background-color: #673AB7;
  border-radius: 25px;
  margin-top: 25px;
  margin-left: 25px;
}

.harmony-orb {
  width: 100px;
  height: 100px;
  background-color: rgba(255, 235, 59, 0.25);
  border: 1px solid #FFEB3B;
  border-radius: 50px;
  animation-name: harmonyOrb;
  animation-duration: 0.75s;
  animation-timing-function: linear;
  animation-delay: 0.75s;
  position: absolute;
  opacity: 0.0;
  z-index: 3;
}
.harmony-inner {
  width: 50px;
  height: 50px;
  background-color: #FFEB3B;
  border-radius: 25px;
  margin-top: 25px;
  margin-left: 25px;
}

.harmony-orb, .discord-orb {
  top: 40px;
}

.description {
  text-align: center;
  font-size: 28px;
  animation-name: description;
  animation-duration: 1s;
  transform: scale(0.0);
}

.description.done {
  transform: scale(1.0);
}

@keyframes description {
  0% {
    transform: scale(0.0);
  }
  100% {
    transform: scale(1.0);
  }
}

@keyframes harmonyOrb {
  0% {
    transform: translateX(800%) scale(0.25);
    opacity: 1.0;
  }
  50% {
    transform: translateX(450%) scale(1.0)
  }
  100% {
    transform: translateX(-100%) scale(0.25);
    opacity: 1.0;
  }
}

@keyframes discordOrb {
  0% {
    transform: translateX(-100%) scale(0.25);
    opacity: 1.0;
  }
  50% {
    transform: translateX(450%) scale(1.0);
  }
  100% {
    transform: translateX(800%) scale(0.25);
    opacity: 1.0;
  }
}

.name-char {
  text-shadow: 4px 4px 0 white, -4px -4px 0 white, 4px -4px 0 white, -4px 4px 0 white, 4px 4px 0 white;
  margin: 0 2px;
  transition: text-shadow 0.2s linear;
  display: inline-block;
  animation-name: textAnimation;
  animation-timing-function: ease;
  animation-duration: 0.5s;
  transform: scale(0.0);
}
@keyframes textAnimation {
  0% {
    transform: scale(0.0);
    margin: 0 1px;
  }
  100% {
    transform: scale(1.0);
    margin: 0 1px;
  }
}
.name-char.half-done {
  transform: scale(1.0);
}
.name-char.done {
  text-shadow: 4px 4px 0 #FFEB3B, -4px -4px 0 #FFEB3B, 4px -4px 0 #FFEB3B, -4px 4px 0 #FFEB3B, 4px 4px 0 #FFEB3B;
}

.purple-text-name {
  z-index: 1;
}

.message {
  text-align: center;
  font-size: 20px;
  animation-name: message;
  animation-duration: 4s;
}

@keyframes message {
  0% {
    opacity: 0.0;
  }
  80% {
    opacity: 0.0;
  }
  100% {
    opacity: 1.0;
  }
}
