@font-face {
  font-family: 'Headliner';
  src: url('/fonts/Headliner.ttf') format('truetype');
}

html {
  font-family: 'Bungee', cursive;
}

#notification {
  width: 100%;
  height: 100%;
}

/* Explostion Notification
===========================
*/
.notification-body {
  width: 100%;
  height: 100%;
}

.explosion {
  width: 750px;
  height: 750px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -375px;
  margin-top: -375px;
  transition: opacity 0.5s linear;
  z-index: 10;
}

.explosion.fade {
  opacity: 0.0;
}

.user-name {
  font-size: 40px;
  line-height: 1.5;
  min-width: 500px;
  max-width: 500px;
  min-height: 500px;
  max-height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  margin-left: -250px;
  margin-top: -250px;
  z-index: 1;
  animation-name: fadeIn;
  animation-duration: 5.1s;
  animation-timing-function: linear;
  animation-delay: 0.50s;
  opacity: 1.0;
  text-shadow: 2px 2px 0 white, -2px -2px 0 white, 2px -2px 0 white, -2px 2px 0 white, 2px 2px 0 white;
}

.user-name .description {
  font-size: 28px;
}

@keyframes fadeIn {
  0% {
    opacity: 1.0;
  }
  10% {
    opacity: 1.0;
  }
  90% {
    opacity: 1.0;
    transform: scale(1.0);
  }
  100% {
    transform: scale(0.0);
  }
}


.notification-body.start {
  animation-name: bgColor;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: 6;
}

/* Pubg Notification
===========================
*/

.pubg-body.done {
  animation-name: pubgDone;
  animation-duration: 1.0s;
  animation-timing-function: ease-in;
}

@keyframes pubgDone {
  0% {
    transform: scale(1.0);
  }
  50% {
    transform: scale(0.0);
  }
  100% {
    transform: scale(0.0);
  }
}

.pubg-wrapper {
  position: absolute;
  top: 5%;
  left: 50%;
  margin-left: -155px;
}

@keyframes bgColor {
  0% {
    background-color: rgba(255, 0, 0, 0.2);
  }
  20% {
    background-color: rgba(255, 255, 0, 0.2);
  }
  40% {
    background-color: rgba(0, 255, 0, 0.2);
  }
  60% {
    background-color: rgba(0, 255, 255, 0.2);
  }
  80% {
    background-color: rgba(0, 0, 255, 0.2);
  }
  100% {
    background-color: rgba(255, 0, 255, 0.2);
  }
}

.pubg-body {
  font-family: 'Headliner', sans-serif;
  display: flex;
  position: relative;
}

.pubg-text {
  text-transform: uppercase;
  line-height: 1;
  font-size: 52px;
  line-height: 52px;
  color: #8A0707;
  display: flex;
  flex-direction: column;
  justify-content: center;
  animation-name: pubgText;
  animation-duration: 10s;
  animation-timing-function: ease;
  animation-delay: 0.5s;
  transform: translateX(-10%);
  opacity: 0.0;
  letter-spacing: 1px;
}

@keyframes pubgText {
  0% {
    transform: translateX(-10%);
    opacity: 0.0;
  }
  10% {
    transform: translateX(3%);
    opacity: 1.0;
  }
  100% {
    transform: translateX(3%);
    opacity: 1.0;
  }
}

.pubg-pan {
  width: 125px;
  height: 125px;
  animation-name: pubgPan;
  animation-duration: 10s;
  animation-timing-function: linear;
  z-index: 10;
}

.pubg-blood {
  position: absolute;
  left: -4px;
  top: -1px;
  z-index: 5;
  animation-name: pubgBlood;
  animation-duration: 10s;
  animation-timing-function: ease-out;
  animation-delay: 0.15s;
}

@keyframes pubgBlood {
  0% {
    transform: scale(0.0);
  }
  2% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1.2);
  }
}

@keyframes pubgPan {
  0% {
    transform: rotate(0deg) scale(5.0);
  }
  3% {
    transform: rotate(450deg) scale(1.0);
  }
  4% {
    transform: rotate(450deg) scale(1.02);
  }
  5% {
    transform: rotate(450deg) scale(1.0);
  }
  100% {
    transform: rotate(450deg) scale(1.0);
  }
}

/* Spongebob Notification
===========================
*/

.rockstar {
  animation-name: rockstar;
  animation-duration: 0.05s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  width: 250px;
}

@keyframes rockstar {
  from {
    transform: rotate(-3deg);
  }
  to {
    transform: rotate(3deg);
  }
}

.patrick-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateX(-110%);
  animation-name: patrick;
  animation-duration: 9s;
  animation-timing-function: linear;
}

@keyframes patrick {
  0% {
    transform: translateX(-110%);
  }
  1% {
    transform: translateX(0%);
  }
  95% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-110%);
  }
}

.spongebob-wrap {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translateX(110%);
  animation-name: spongebob;
  animation-duration: 9s;
  animation-timing-function: linear;
}

@keyframes spongebob {
  0% {
    transform: translateX(110%);
  }
  19% {
    transform: translateX(110%);
  }
  20% {
    transform: translateX(0%);
  }
  95% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(110%);
  }
}

.sandy-wrap {
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(110%);
  animation-name: sandy;
  animation-duration: 9s;
  animation-timing-function: linear;
}

@keyframes sandy {
  0% {
    transform: translateX(110%);
  }
  39% {
    transform: translateX(110%);
  }
  40% {
    transform: translateX(0%);
  }
  95% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(110%);
  }
}

.krabs-wrap {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-110%);
  animation-name: krabs;
  animation-duration: 9s;
  animation-timing-function: linear;
}

@keyframes krabs {
  0% {
    transform: translateX(-110%);
  }
  56% {
    transform: translateX(-110%);
  }
  57% {
    transform: translateX(0%);
  }
  95% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-110%);
  }
}

.fans {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -240px;
  transform: translateY(-100%);
  animation-name: fans;
  animation-duration: 9s;
  animation-timing-function: linear;
}

@keyframes fans {
  0% {
    transform: translateY(-100%);
  }
  64% {
    transform: translateY(-100%);
  }
  65% {
    transform: translateY(0%);
  }
  95% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-110%);
  }
}
